body {
    background: linear-gradient(45deg, #ff9a9e, #fad0c4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Prompt", sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px #ff8ea8;
}

button {
    padding: 12px 25px;
    font-size: 20px;
    border: none;
    background: #ff4d79;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.1);
}
